<li>
  {{employee.name}}
<br>
  Designation: {{employee.designation}}
<br>
  {{#if isImageShowing}}
  <img src={{employee.info}} {{action 'imageHide'}}>
  {{else}}
  <button {{action 'imageShow'}}>contact details</button>
  {{/if}}
  <br>
  <br>
</li>
