
<!--Sheeja-->

  <li>

    Event description: {{event.description}}<br>
    Time of Event:{{event.time}}<br>
    Event Duration:{{event.duration}}<br>
    Event creator:{{event.creator}}<br>

    </li>


<button class="btn"{{action 'destroyEvent' event}}>Delete Event</button>
<br>
<br>
