{{#if addNewEvent}}
  <div>
    <form {{action "saveEvent" on="submit"}}>
      <div class="form-group">
        <label for="creator">Creator</label>
        {{input value=creator id="creator"}}
      </div>

      <div class="form-group">
        <label for="time">Time</label>
        {{input value=time id="time"}}
      </div>

      <div class="form-group">
        <label for="duration">Duration</label>
        {{input value=duration id="duration"}}
      </div>



      <div class="form-group">
        <label for="description">Description</label>
        {{input value=description id="description"}}
      </div>

      <button type="submit">Save</button>
    </form>
  </div>
{{else}}
  <button class="btn" {{action 'eventFormShow'}}>Add New Event</button>
{{/if}}
