<li>
  {{speaker.name}}
<br>
  Website:{{speaker.website}}
<br>
  {{#if isImageShowing}}
  <img src={{speaker.info}} {{action 'imageHide'}} >
  {{else}}
  <button class="btn" {{action 'imageShow'}}>contact details</button>
  {{/if}}
  <br>
  <br>
</li>
