<li>
  {{student.name}}
<br>
  {{#if isImageShowing}}
  <img src={{student.info}} {{action 'imageHide'}}>
  {{else}}
  <button {{action 'imageShow'}}>contact details</button>
  {{/if}}
  <button {{action 'delete' student}}>Delete</button>
  {{update-student student=student update="update"}}
  <br>
  <br>
</li>
