<li>
  {{student.name}}
<br>
  {{#if isImageShowing}}
  <img src={{student.info}} {{action 'imageHide'}}>
  {{else}}
  <button class="btn" {{action 'imageShow'}}>contact details</button>
  {{/if}}
  <br>
  <br>
</li>
