<!-- <div> -->
<div class="row">
    <div class="col-md-2" id="leftfixed">
       <div class="affix">
         <img class="pictogram" src="https://d30y9cdsu7xlg0.cloudfront.net/png/3878-200.png"/>
         <div class="mydiscussion-left">
           {{new-comment saveAnswer="saveAnswer" discussion=model}}
       </div>
        </div>
    </div>
    <div class="col-md-10">
      <div class="mycontent-right-discussion">
        <ul>
          <h3> Discussion for: {{model.name}} </h3>
      <h4>Discussion points:</h4>
  <ul class="discussion-list">
    <li>Was it useful for you?</li>
    <li>At what point in the curriculum did you find it most helpful?</li>
    <li>Was it easy to digest</li>
    <li>What type of learner would benefit from this material?</li>
  </ul>
  <hr>
      {{#each model.discussions as |discussion|}}
        <li><span id="discussion-span">{{discussion.author}} says:</span> {{discussion.comment}}</li>
        <br>

      {{/each}}
        </ul>
    </div>
</div>
</div>


<!-- <div  style="float: left; margin-left: 100px">
  <h1>New Review</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="answer">Answer</label>
        {{input value=answer id="answer"}}
      </div>
      <div class="form-group">
        <label for="replier">Your name</label>
        {{input value=replier id="replier"}}
      </div>

      <button {{action 'saveAnswer'}}>Submit</button>
    </form>
  </div>
  </div>
</div> -->
