<div style="text-align: center">
  <h1>ember.js supplements</h1>
</div>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-md-2" id="leftfixed">
       <div class="affix">
         <img style=""src="http://www.gravatar.com/avatar/0cf15665a9146ba852bf042b0652780a?s=200"/>
         <div style="margin-left: 15px" class="mycontent-left">
           {{new-submission saveLink="saveLink"}}
       </div>
        </div>
    </div>
    <div class="col-md-10">
      <div class="mycontent-right">
        <ul style="list-style: none;">
            {{#each model as |blackboard|}}
          <li>
            {{submission-tile blackboard=blackboard}}
          </li>
          {{log blackboard.id}}
          {{#link-to 'discussion' blackboard.id}}<strong>Discussion</strong>{{/link-to}}
          <button type="button" class="btn btn-default" {{action 'upVote' blackboard}}>up</button>
          {{blackboard.rating}}
          <button type="button" class="btn btn-default" {{action 'downVote' blackboard}}>down

          </button>
            {{/each}}
        </ul>
    </div>
</div>
</div>
{{outlet}}
